# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode
.env
mocks.json

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
build/
src/express/upload/
